version: "3"
services:
  dnsmasq:
    image: ${DNSMASQ_IMAGE}
    networks:
      grafana-sandbox:
        ipv4_address: 174.16.1.1
    volumes:
      - ./configs/dnsmasq.conf:/etc/dnsmasq.conf

  traefik:
    image: traefik:v2.4
    dns:
      - 174.16.1.1
    networks:
      grafana-sandbox:
        ipv4_address: 174.16.1.2
    ports:
      - "80:80"
    command:
      - --providers.docker
      - --providers.docker.network=grafana-sandbox
      - --providers.docker.watch
      - --api.dashboard=true
      - --entrypoints.web.address=:80
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    labels:
      - "traefik.http.routers.dashboard.rule=Host(`lb.${DOMAIN}`)"
      - "traefik.http.routers.dashboard.service=api@internal"

  tempo:
    image: grafana/tempo:latest
    command: 
      - -config.file=/etc/tempo.yaml
    dns:
      - 174.16.1.1
    volumes:
      - ./configs/tempo.yaml:/etc/tempo.yaml
      - ./volumes/tempo-data:/tmp/tempo
    ports:
      - "14628:14268"
    networks:
      - grafana-sandbox
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=grafana-sandbox"
      - "traefik.http.routers.tempo.rule=Host(`tempo.${DOMAIN}`)"
      - "traefik.http.services.tempo.loadbalancer.server.port=14628"
      - "traefik.http.routers.tempo.entrypoints=web"

  loki:
    image: grafana/loki:latest
    command: 
      - -config.file=/etc/loki/local-config.yaml
    dns:
      - 174.16.1.1
    ports:
      - "3100:3100"
    networks:
      - grafana-sandbox
    environment:
      - JAEGER_AGENT_HOST=tempo
      - JAEGER_ENDPOINT=http://tempo.${DOMAIN}/api/trace
      - JAEGER_SAMPLER_TYPE=const
      - JAEGER_SAMPLER_PARAM=1
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=grafana-sandbox"
      - "traefik.http.routers.loki.rule=Host(`loki.${DOMAIN}`)"
      - "traefik.http.services.loki.loadbalancer.server.port=3100"
      - "traefik.http.routers.loki.entrypoints=web"

  promtail:
    image: grafana/promtail
    volumes:
      - /var/log:/var/log
    command: -config.file=/etc/promtail/config.yml
    networks:
      - grafana-sandbox

  prometheus:
    image: prom/prometheus:latest
    command:
      - --config.file=/etc/prometheus.yaml
      - --web.enable-remote-write-receiver
      - --web.external-url=http://prom.${DOMAIN}
    dns:
      - 174.16.1.1
    networks:
      - grafana-sandbox
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=grafana-sandbox"
      - "traefik.http.routers.prom.rule=Host(`prom.${DOMAIN}`)"
      - "traefik.http.services.prom.loadbalancer.server.port=9090"
      - "traefik.http.routers.prom.entrypoints=web"
    volumes:
      - ./configs/prometheus.yaml:/etc/prometheus.yaml
    ports:
      - "9090:9090"

  grafana:
    image: grafana/grafana:latest
    dns:
      - 174.16.1.1
    volumes:
      - ./configs/grafana/datasources.yml:/etc/grafana/provisioning/datasources/datasources.yaml
      - ./configs/grafana/grafana.ini:/etc/grafana/grafana.ini
    environment:
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
      - GF_AUTH_DISABLE_LOGIN_FORM=true
    networks:
      - grafana-sandbox
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=grafana-sandbox"
      - "traefik.http.routers.grafana.rule=Host(`grafana.${DOMAIN}`)"
      - "traefik.http.services.grafana.loadbalancer.server.port=3000"
      - "traefik.http.routers.grafana.entrypoints=web"

networks:
  grafana-sandbox:
    driver: bridge
    name: grafana-sandbox
    ipam:
      config:
        - subnet:   174.16.0.0/23
          ip_range: 174.16.0.0/24
